<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shop.withplanner"
    >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WithPlanner"
        android:usesCleartextTraffic="true">>
        <activity
            android:name="com.shop.withplanner.join.JoinLocActivity"
            android:exported="false" />
        <activity
            android:name="com.shop.withplanner.EmailActivity"
            android:exported="false" />
        <activity
            android:name="com.shop.withplanner.SettingActivity"
            android:exported="false" />
        <activity
            android:name="com.shop.withplanner.community.CommunityInfoBoardActivity"
            android:exported="false" />
        <activity
            android:name="com.shop.withplanner.join.JoinActivity"
            android:exported="false" />
        <activity
            android:name="com.shop.withplanner.community.CommunitySelectActivity"
            android:exported="false" />
        <activity
            android:name="com.shop.withplanner.SurveyActivity1"
            android:exported="false" />
        <activity
            android:name="com.shop.withplanner.SurveyActivity2"
            android:exported="false" />
        <activity
            android:name="com.shop.withplanner.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.shop.withplanner.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shop.withplanner.not_used.CommunityMainBoardActivity"
            android:exported="false" />
        <activity
            android:name="com.shop.withplanner.not_used.CommunityTalkBoardActivity"
            android:exported="false" />
        <activity
            android:name="com.shop.withplanner.community.CommunityCalendarActivity"
            android:exported="false" />
        <activity
            android:name="com.shop.withplanner.MyCalendarActivity"
            android:exported="false" />
        <activity
            android:name="com.shop.withplanner.main.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.shop.withplanner.community.CommunityCreateActivity"
            android:exported="true" />
        <activity
            android:name="com.shop.withplanner.community.CommunitySearchLocationActivity"
            android:exported="false" />
        <activity
            android:name="com.shop.withplanner.CategoryActivity"
            android:exported="false" />
        <activity
            android:name="com.shop.withplanner.community.CommunityAuthenticateLocationActivity"
            android:exported="false" />
        <activity
            android:name="com.shop.withplanner.community.CommunityMainLocationActivity"
            android:exported="false" />
        <activity
            android:name="com.shop.withplanner.community.CommunityMainPostActivity"
            android:exported="false" />
        <activity
            android:name="com.shop.withplanner.community.CommunityJoinActivity"
            android:exported="false"
            android:noHistory="true" />
    </application>

</manifest>