<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shop.withplanner">
    <!-- 인터넷 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 위치 권한 설정 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 저장소 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 카메라 권한 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WithPlanner"
        android:usesCleartextTraffic="true">
        <!-- 카카오 키 등록 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="${kakaoMapAppKey}" />

        <activity
            android:name=".activity_etc.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity_community.CommunityPostInsideActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity_community.CommunityPostActivity"
            android:exported="false" />
        <activity
            android:name=".activity_community.CommunityPostBoardActivity"
            android:exported="false" />
        <activity
            android:name="com.shop.withplanner.activity_join.JoinLocActivity"
            android:exported="false" />
        <activity
            android:name="com.shop.withplanner.EmailActivity"
            android:exported="false" />
        <activity
            android:name=".activity_etc.SettingActivity"
            android:exported="false" />
        <activity
            android:name="com.shop.withplanner.not_used.CommunityInfoBoardActivity"
            android:exported="false" />
        <activity
            android:name="com.shop.withplanner.activity_join.JoinActivity"
            android:exported="false" />
        <activity
            android:name=".activity_community.CommunitySelectActivity"
            android:exported="false" />
        <activity
            android:name="com.shop.withplanner.SurveyActivity1"
            android:exported="false" />
        <activity
            android:name="com.shop.withplanner.SurveyActivity2"
            android:exported="false" />
        <activity
            android:name=".activity_etc.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity_etc.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shop.withplanner.not_used.CommunityMainBoardActivity"
            android:exported="false" />
        <activity
            android:name="com.shop.withplanner.not_used.CommunityTalkBoardActivity"
            android:exported="false" />
        <activity
            android:name=".activity_community.CommunityCalendarActivity"
            android:exported="false" />
        <activity
            android:name=".activity_etc.MyCalendarActivity"
            android:exported="false" />
        <activity
            android:name=".activity_etc.MainActivity"
            android:exported="true" />
        <activity
            android:name=".activity_community.CommunityCreateActivity"
            android:exported="true" />
        <activity
            android:name=".activity_community.CommunitySearchLocationActivity"
            android:exported="false" />
        <activity
            android:name=".activity_etc.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity_community.CommunityAuthenticateLocationActivity"
            android:exported="false" />
        <activity
            android:name=".activity_community.CommunityMainLocationActivity"
            android:exported="false" />
        <activity
            android:name=".activity_community.CommunityMainPostActivity"
            android:exported="false" />
        <activity
            android:name=".activity_community.CommunityJoinActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name="com.shop.withplanner.map.MapActivity"
            android:exported="false" />
    </application>

</manifest>